body {
  margin: 0;
  padding: 0;
}

div {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position:relative;
}

div img {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.hiddenText{
  text-align: center;
  opacity: 0;
}
.main-text {
  text-align: center;
  width: 50%;
}
.secTitle{
  text-align: center;
  width: 50%;
}
.thdTitle{
  text-align: center;
  width: 50%;
  float: right;
}


h2 {
  text-align: center;
  font-family: 'Merienda';
  font-size: 40px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  /* line-height: 35px; */
}

#title{
  opacity: 0;
}
#first{
  text-align: center;
   opacity: 0;
}
#second{
  text-align: left;
   opacity: 0;
}
#third{
   opacity: 0;
   text-align: right;
}

.afterScroll {
    text-align: right;
    display: block;
    color: red;
}
