/* #set-height {
  display: block;
  height: 7000px;
  originally height: 13500px (video is 34 seconds long)
}*/
body {
  background: #fff;
  display: block;
  height: 13000px;
  font-family: 'Roboto', sans-serif;
}

.astext {
  background: none;
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  font-weight: 900;
}

.info {
  /*display: table; */
  background-color: white;
  margin: 0px auto 0px auto;
  max-width: 300px;
  padding: 3px;
  text-align: center;
  position: fixed;
  right: 10%;
  bottom: 35%;
  z-index: 1;
}

.info h3 {
  color: green;
  margin: 0px;
  line-height: 20px;
  padding-top: 0px;
  vertical-align: middle;
  /*
position: fixed;
  right: 100px;
  top: 100px;
*/
}

.loading {
  background-color: black;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  color: white;
  z-index: 2;
}

p font-family Roboto {
  font-size: 22px;
}

/* button font-family Roboto {
  font-size: 22px;
} */
p {
  z-index: 1;
}

p span {
  display: table;
  overflow-wrap: break-word;
  /* keep the background color wrapped tight */
}

img {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}

#one {
  color: red;
}

#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#time {
  color: green;
  position: fixed;
  /*    z-index: 1;*/
}

#time1 {
  color: yellow;
  position: fixed;
  left: 100px;
  /*    z-index: 1;*/
}

#frame {
  z-index: 1;
}

#loadP {
  margin: 120px auto 0px auto;
  max-width: 450px;
  padding: 3px;
  text-align: center;
  position: static;
  /* left: 50%;*/
  top: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

#btnfilm {
  margin: 70px auto 0px auto;
  /* max-width: 100px;
   padding: 0px;
   text-align: center;
   position: absolute;
   top: 25%; */
  /* left: 40% */
}

#btnResh {
  margin: 100px auto 0px auto;
  /*max-width: 100px;
   padding: 0px;
   text-align: center;
   position: absolute;
   bottom: 15%;*/
  /* left: 40%; */
}

#centerLogo {
  margin: 0px auto 0px auto;
  /* display: flex;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 100px;
  left: 0px; */
}

/*
h2 {
  color: pink;
  position: fixed;
  right: 100px;
  top: 100px;
}
*/
